*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

main{
    max-width: 70%;
    margin: auto;
    margin-bottom: 60px;
}

header{
    background-color: #48C5CE;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

section{
    background-image: url(../images/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
}

.ContentSection{
    background-color: #FFFFFFBB;
    width: 260px;
    height: 450px;
    padding: 15px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

h2, p{
    font-size: 19px;
    margin-bottom: 10px;
}

input, select{
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

input[type="submit"]{
    background-color: #48C5CE;
    color: white;
}

input[type="submit"]:hover{
    background-color: rgb(21, 21, 224);
}

footer{
    display: flex;
    background-color: #202121;
    padding: 50px;
}

img{
    width: 185px;
    margin-left: 15%;
}

.ContentFooter{
    margin: 0;
    width: 430px;
    margin-left: 40px;
    color: white;
    position: relative;
    top: 52px;
}

.ContentFooter h2{
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    img{
        margin-left: 5%;
    }

    .ContentFooter{
        top: 12px;
    }
}

@media screen and (max-width: 768px) {
    .ContentSection{
        float: left;
        margin-left: 120px;
        margin-right: 120px;
        text-align: center;
    }

    footer{
        display: block;
    }

    img{
        width: 185px;
        margin-left: 30%;  
    }

    .ContentFooter{
        max-width: 100%;
        text-align: center;
        margin-left: 5px;
    }
}

@media screen and (max-width: 613px) {
    main{
        max-width: 100%;
        margin: auto;
        margin-left: 26px;
        margin-right: 26px;
    }

    header{
        text-align: center;
    }

    .ContentSection{
        margin-left: 24%;
        margin-right: 40px;
        text-align: center;
    }

    img{
        margin-left: 30%;
    }

    .ContentFooter{
        width: 230px;
        margin-left: 25%;
    }
}

@media screen and (max-width: 425px) {
    main{
        max-width: 100%;
        margin: auto;
        margin-left: 26px;
        margin-right: 26px;
    }

    header{
        text-align: center;
    }

    .ContentSection{
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    img{
        margin-left: 16%;
    }

    .ContentFooter{
        width: 230px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 375px) {
    .ContentSection{
        margin-left: 17px;
        margin-right: 17px;
    }

    img{
        margin-left: 9.5%;
    }

    .ContentFooter{
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    main{
        max-width: 90%;
        margin: 0;
        margin-left: 15px;
    }

    .ContentSection{
        width: 225px;
    }

    img{
        margin-left: 1%;
    }

    .ContentFooter{
        right: 2px;
    }
}